include resume-mixins.pug

#main
  #contact
    ul.horizontal
      li #[i.fa.fa-mobile] 719.244.4351
      li #[i.fa.fa-envelope] nathan.s.carlson@protonmail.com
      li #[i.fas.fa-location-dot] Black Hawk, Colorado

  #title
    h1 Nathan Carlson
    //- .subtitle Software Engineer
  
  #summary
    h2 #[i.fas.fa-list] Summary
    
    :markdown-it
      lorem ipsum dolor sit amet
    
  .main-block
    h2 #[i.fa.fa-suitcase] Experience

    +item("VP of Engineering", "Ouray Digital", "Golden, CO", "02/2020", "present")
      :markdown-it
        Spearheaded the technical direction, scale, and architecture of a social media platform.

        - Remained hands on technically while leading a team of six software engineers

        **Technologies Used**
        - React, Node.js, GraphQL, Meteor.js
        - MongoDB, Postgres, nginx, Redis, Docker Swarm, VMWare, Ubuntu Server

    +item("Senior Software Engineer", "Motili", "Denver, CO", "12/2019", "03/2019")
      :markdown-it
        Motili's core offering empowers HVAC contractors and property owners by enabling them to interface together seamlessly on a platform that generates work orders and quotes, sources parts, fulfills orders, and manages assets.

        - Implemented back end, and user facing, features in a production environment
        - Delivered a centralized solution for automatic code formatting and linting across multiple code repositories
        - Wrote a tool allowing interaction with product catalog data using CRUD actions, as an alternative to writing tedious SQL scripts
        - Advocated for coworker success by providing a listening ear and teaching on new technologies and frameworks
        - Prototyped experimental applications in order to evaluate alternative frameworks

        **Technologies Used**
        - IBM LoopBack, GraphQL, Node.js, React.js
        - Postgres, AWS, Redis, BullMQ, Jenkins
        
    +item("Software Engineer", "ShapeShift", "Denver, CO", "01/2019", "12/2018")
      :markdown-it
        - Contributed to the CoinCap redesign effort - [https://coincap.io](coincap.io)
        - Contributed to the Membership Portal - [https://portal.shapeshift.io](portal.shapeshift.io)
        - Implemented public and authenticated GraphQL queries returning data from multiple sources, including REST, Redis, and Postgres
        - Gathered and implemented requirements for db schema design and Sequelize migrations
        - Spearheaded efforts for migrating to frameworks such as Formik and TypeORM, with working prototypes
        - Designed and delivered a cron-like microservice that performs network and database queries on specific time intervals
        - Enjoyed training new members of the team, familiarizing them with the tech stack
        - Implemented a cold storage service layer which includes deriving addresses from xpubs on multiple chains and an m-of-n bitcoin multisig arrangement

    +item("Software engineer", "Braxton Technologies", "Colorado Springs, CO", "12/2018", "04/2014")
      :markdown-it
        - Contributed to the SENSOR program contracted to Harris Corporation
        - Used Puppet to provision Splunk centralized logging in complex networked environments
        - Implemented automatic enforcement for many Security Technical Implementation Guides (STIGs) for RHEL7 VMs using Puppet, shell scripting, and other tools
        - Simplified multi-host installation scripts running over a network
        - Implemented features in Spring Boot REST with unit test coverage

        **Technologies Used**
        - VMware, Red Hat Enterprise Linux, Puppet, Splunk, Digital Unix
        - Java, Spring MVC, JPA
    
    #projects
      h2 #[i.fas.fa-code] Personal Projects
      //- +item("Homelab", "", "")

      .blocks
        .details
          header
            h3 Homelab
          .description
            :markdown-it
              This is my main outlet to satisfy my curiosity for experimentation I host compute resources for a few data science projects

          header
            h3 Homelab
          .description
            :markdown-it
              This is my main outlet to satisfy my curiosity for experimentation I host compute resources for a few data science projects

      +item("Internet of Things")
        :markdown-it
          Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

          Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.

          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.

  .main-block.concise
    h2 #[i.fa.fa-graduation-cap] Education
    +item("University of Colorado Colorado Springs", "", "", "2014")
      .concise
        :markdown-it
          - Bachelor of Science in Computer Science
          - Minor in Mathematics
      
#sidebar
  #contact.side-block
    h1 Find Me
    ul
      li #[i.fab.fa-github] nscarlson
      li #[i.fab.fa-linkedin-in] nathanscarlson
      
  #contact.side-block
    h1 Skills
    ul
      li #[i.fab.fa-node-js] Node.js
      li #[i.fas.fa-project-diagram] GraphQL
      li #[i.fab.fa-react] React.js
      li #[i.fab.fa-git-alt] Git
      li #[i.fab.fa-docker] Docker
      li #[i.fa.fa-dharmachakra] Kubernetes
      li #[i.fa.fa-database] Postgres
      li #[i.fa.fa-database] Redis
      li #[i.fa.fa-terminal] Bash

style
  include resume.scss
